html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar-custom {
  background-color: rgba(69, 107, 115, 0.6);
}

header {
  display: flex;
  flex-direction: row;
  font-size: 120px;
  opacity: 20%;
  justify-content: center;
  align-items: center;
  font-family: "Alfa Slab One", cursive;
  margin: 6rem 2rem 4rem 2rem;
}

h1 {
  align-items: flex-start;
  margin: 0 0 0 4rem;
  font-size: 80px;
  opacity: 50%;
  font-family: "Montserrat", sans-serif;
}

.hr-wrapper {
  margin: 1rem 8rem 0 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
hr {
  display: none;
  flex-direction: row;
  justify-self: flex-start;
  align-self: flex-start;
  color: white;
}

h2 {
  align-items: flex-start;
  margin: 2rem 0 2rem 4rem;
  font-size: 50px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.project-description {
  font-size: 1.25rem;
  font-weight: 300;
}

.learn-more-project {
  font-size: 1.25rem;
  font-weight: 500;
}
.section {
  display: flex;
  flex-direction: row;
  margin: 2rem 6rem 4rem 6rem;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.sub-section {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.about-sub {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.about-img {
  max-width: 100%;
  height: auto;
  padding-right: 2rem;
}

.about-section {
  display: flex;
  flex-direction: row;
  margin: 2rem 6rem 4rem 6rem;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.sub-section-img {
  max-width: 100%;
  height: auto;
  padding-right: 2rem;
}

.project-img-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-img {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding: 0.5rem;
}

h3 {
  align-items: flex-start;
  margin: 0 0 1rem 1rem;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.jumbotron {
  background-color: rgba(69, 107, 115, 0.4);
  margin-bottom: 10rem;
}

p {
  font-size: 24px;
}

.section-text {
  margin: 0 4rem 0 4rem;
}

.section-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-obj {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem 0 2rem 0;
  width: 100%;
  max-height: 100%;
}

.project-single-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 0 0 0;
}

.project-img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
  padding: 2rem 0 3rem 0;
}

.single-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 0 1rem 0;
}

a.project-link:hover {
  text-decoration-color: #bb999c;
  opacity: 30%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(69, 107, 115, 0.4);
  padding: 4rem 0 4rem 0;
  font-size: 16px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.project-description {
  font-family: "Open Sans", sans-serif;
}

.project-title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.active-item {
  padding-bottom: 0.01rem;
  border-bottom-style: solid;
}

.container {
  margin-top: 2rem;
}

.section-obj {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.section-img {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: auto;
}

.left {
  text-align: left;
}

.center {
  align-items: center;
  align-self: center;
}

.right {
  text-align: right;
}

.project-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-height: 100%;
  margin-bottom: 4rem;
}

.contact-icon {
  font-size: 40px;
  color: black;
  opacity: 40%;
  margin: 3rem;
}
.contact-icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.basic-col {
  display: flex;
  flex-direction: column;
}

.pink-btn {
  background-color: #bb999c;
}
.space {
  margin-left: 6px;
}

@media only screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: row;
    font-size: 100px;
    opacity: 20%;
    justify-content: center;
    align-items: center;
    font-family: "Alfa Slab One", cursive;
    margin: 2rem 8rem 4rem 8rem;
  }
}

@media only screen and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
    font-size: 70px;
    opacity: 20%;
    justify-content: center;
    align-items: center;
    font-family: "Alfa Slab One", cursive;
    margin: 6rem 0 4rem 0;
  }

  h1 {
    align-items: flex-start;
    margin: 0 0 0 2rem;
    font-size: 50px;
    opacity: 50%;
    font-family: "Montserrat", sans-serif;
  }

  h2 {
    align-items: flex-start;
    margin: 0 0 0 1rem;
    font-size: 30px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
  .section {
    margin: 2rem 4rem 2rem 4rem;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
  }
  .contact-icon {
    font-size: 24px;
    color: black;
    opacity: 40%;
    margin: 1rem;
  }
  .contact-icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  .about-img {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-self: center;
    margin: 2rem 0 1rem 0;
  }
  .about-sub {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 1rem 1rem 1rem 2rem;
  }
}

.see-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.less-space {
  margin: 2rem 6rem 2rem 6rem;
}
