@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(164, 184, 185, 0.883);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aboutItem {
    width: 400px;
    padding-top: 30px;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 18px;
}

.aboutText {
    padding-right: 30px;
}

.aboutImage {
    padding-left: 30px;
    width: 430px;
}


@media screen and (max-width: 1212px) {
    .aboutImage {
        padding-left: 20px;
        width: 330px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage {
        display: none;
    }

}